/* @group import */
/* @end */
/* @group global var */
/* @end */
@font-face {
  font-family: 'bariol';
  src: url('../fonts/bariol/bariol_regular-webfont.eot');
  src: url('../fonts/bariol/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bariol/bariol_regular-webfont.woff2') format('woff2'), url('../fonts/bariol/bariol_regular-webfont.woff') format('woff'), url('../fonts/bariol/bariol_regular-webfont.ttf') format('truetype'), url('../fonts/bariol/bariol_regular-webfont.svg#bariol_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bariolBold';
  src: url('../fonts/bariolBold/bariol_bold-webfont.eot');
  src: url('../fonts/bariolBold/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bariolBold/bariol_bold-webfont.woff2') format('woff2'), url('../fonts/bariolBold/bariol_bold-webfont.woff') format('woff'), url('../fonts/bariolBold/bariol_bold-webfont.ttf') format('truetype'), url('../fonts/bariolBold/bariol_bold-webfont.svg#bariol_boldbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximaNova';
  src: url('../fonts/proximaNova/proximanova-reg-webfont.eot');
  src: url('../fonts/proximaNova/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximaNova/proximanova-reg-webfont.woff2') format('woff2'), url('../fonts/proximaNova/proximanova-reg-webfont.woff') format('woff'), url('../fonts/proximaNova/proximanova-reg-webfont.ttf') format('truetype'), url('../fonts/proximaNova/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximaNovaIt';
  src: url('../fonts/proximaNovaIt/proximanova-regit-webfont.eot');
  src: url('../fonts/proximaNovaIt/proximanova-regit-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximaNovaIt/proximanova-regit-webfont.woff2') format('woff2'), url('../fonts/proximaNovaIt/proximanova-regit-webfont.woff') format('woff'), url('../fonts/proximaNovaIt/proximanova-regit-webfont.ttf') format('truetype'), url('../fonts/proximaNovaIt/proximanova-regit-webfont.svg#proxima_novaregular_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximaNovaSBold';
  src: url('../fonts/proximaNovaSBold/proximanova-sbold-webfont.eot');
  src: url('../fonts/proximaNovaSBold/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximaNovaSBold/proximanova-sbold-webfont.woff2') format('woff2'), url('../fonts/proximaNovaSBold/proximanova-sbold-webfont.woff') format('woff'), url('../fonts/proximaNovaSBold/proximanova-sbold-webfont.ttf') format('truetype'), url('../fonts/proximaNovaSBold/proximanova-sbold-webfont.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximaNovaBold';
  src: url('../fonts/proximaNovaBold/proximanova-bold-webfont.eot');
  src: url('../fonts/proximaNovaBold/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximaNovaBold/proximanova-bold-webfont.woff2') format('woff2'), url('../fonts/proximaNovaBold/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximaNovaBold/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximaNovaBold/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'change';
  src: url('../fonts/change.eot?jik4xg');
  src: url('../fonts/change.eot?#iefixjik4xg') format('embedded-opentype'), url('../fonts/change.woff?jik4xg') format('woff'), url('../fonts/change.ttf?jik4xg') format('truetype'), url('../fonts/change.svg?jik4xg#change') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'change';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-blog-plus:before {
  content: "\e601";
}
.icon-burger1:before {
  content: "\e603";
}
.icon-burger2:before {
  content: "\e604";
}
.icon-mail:before {
  content: "\e600";
}
.icon-tel:before {
  content: "\e602";
}
/* @group Mixins */
/* @group Boilerplate */
html,
button,
input,
select,
textarea {
  color: #232323;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/* @end */
/* @group Mes styles */
/* @group General */
/* selection */
::-moz-selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #000000;
  color: #ffffff;
  text-shadow: none;
}
/* @end */
* {
  font-weight: normal;
}
html {
  font-size: 100%;
}
body {
  font-family: 'proximaNova', sans-serif;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #34343c;
}
.container {
  display: block;
  width: 1120px;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding: 0;
  min-width: 290px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container.small {
  padding: 0 350px 0 60px;
}
.container.medium {
  padding-left: 60px;
}
.container.first {
  margin-top: 135px;
}
.lt-ie9 .container {
  width: 980px;
}
.largeContainer {
  background: #efebe2;
  padding: 20px 0 60px;
}
.largeContainer + footer {
  margin-top: 0;
  /*&.contactUp{
      margin-top: 50px;
    }*/
}
.containerLeft {
  display: inline-block;
  vertical-align: bottom;
  width: 585px;
  margin: 0 4% 0 0;
  padding: 0 0 60px;
}
.containerRight {
  display: inline-block;
  width: 425px;
  padding: 0 0 60px;
}
h1,
h2,
.h1 {
  margin: 0 0 0 -3px;
}
h1,
.h1 {
  padding: 70px 0 0 0;
  font-family: 'bariol', sans-serif;
  font-size: 3em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #f04a2f;
  line-height: 1.1em;
}
h2 {
  padding: 25px 0 15px 0;
  font-family: 'bariol', sans-serif;
  font-size: 1.8em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #47acdc;
  line-height: 1.1em;
}
h3 {
  margin: 0 0 0 -1px;
  padding: 10px 0 10px 0;
  font-family: 'bariolBold', sans-serif;
  font-size: 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li:before {
  content: '• ';
  color: #f04a2f;
}
ul + h2,
ul + h3 {
  margin-top: 15px;
}
p,
li,
strong,
b,
.maj {
  line-height: 1.45em;
}
strong,
b {
  font-weight: normal;
  font-family: 'proximaNovaBold', sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.maj,
h4 {
  text-transform: uppercase;
  font-family: 'proximaNovaBold', sans-serif;
  font-size: 0.85em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  color: #34343c;
}
a,
.a {
  text-decoration: none;
  color: #47acdc;
  border-bottom: 1px solid #dbecf7;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover,
.a:hover,
a:focus,
.a:focus,
a:active,
.a:active {
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #f04a2f;
  border-color: #eecfcb;
}
a:active,
.a:active {
  opacity: 0.7;
}
.lien-menu-header {
  text-transform: uppercase;
  letter-spacing: 1px;
}
blockquote {
  margin: 0 0 0 -70px;
}
blockquote p {
  margin: 0;
  padding: 1em 1em 1em 70px;
  background: #efebe2 url(../layoutImg/quote.png) no-repeat -3px -3px;
}
blockquote span {
  display: block;
  text-align: right;
  font-family: 'proximaNovaIt', sans-serif;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  margin: 10px 0;
  color: #757581;
}
.rouge {
  color: #f04a2f;
}
.bleu {
  color: #47acdc;
}
.gris {
  color: #9b9b9b;
}
/* @end */
/* @group header */
header {
  z-index: 3;
  display: block;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
header:hover.scrolled #top-header {
  margin-top: 0;
}
header.scrolled #top-header {
  margin-top: -28px;
}
header a {
  font-family: 'proximaNovaBold', sans-serif;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
header li:before {
  display: none;
}
header #top-header {
  width: 100%;
  height: 28px;
  background: #54b8e7;
  text-align: right;
  -webkit-transition: margin-top 0.3s;
  -moz-transition: margin-top 0.3s;
  -o-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
  margin-top: 0;
}
header #top-header #blog-header {
  display: inline-block;
}
header #top-header .content-top-header p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  line-height: 28px;
  font-size: 0.8em;
  width: 500px;
}
.lt-ie8 header #top-header .content-top-header p {
  display: inline;
}
header #top-header .content-top-header p b {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'proximaNovaBold', sans-serif;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
header #top-header .content-top-header a.icon-blog-plus {
  margin-left: 5px;
  line-height: 27px;
  font-size: 1.8em;
  color: #202026;
}
header #top-header .content-top-header a.icon-blog-plus:hover,
header #top-header .content-top-header a.icon-blog-plus:focus {
  color: #ffffff;
}
.lt-ie8 header #top-header .content-top-header a.icon-blog-plus {
  display: inline;
}
header #top-header ul.social-small {
  margin: 0 3px 0 30px;
}
header #top-header ul.social-small li {
  margin: 0 0 0 8px;
}
header #top-header ul.social-small a.lien-social {
  color: #34343c;
  line-height: 28px;
}
header #top-header ul.social-small a.lien-social:hover,
header #top-header ul.social-small a.lien-social:focus {
  color: #ffffff;
}
header #bottom-header {
  width: 100%;
  height: 94px;
  position: relative;
  background: #202026;
}
header #bottom-header .content-bottom-header {
  text-align: right;
}
header #bottom-header .content-bottom-header a#logo {
  float: left;
  width: 44px;
  height: 39px;
  background: url('../layoutImg/logoChange.png') no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-top: 27px;
}
header #bottom-header .content-bottom-header a#logo:after {
  content: ' ';
  position: absolute;
  top: 28px;
  left: 60px;
  width: 134px;
  height: 36px;
  background: url('../layoutImg/logoChangeTxt.png') no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
.lt-ie9 header #bottom-header .content-bottom-header a#logo:after {
  background: url('../layoutImg/logoChangeTxtIE.png') no-repeat;
}
.lt-ie9 header #bottom-header .content-bottom-header a#logo {
  background: url('../layoutImg/logoChangeIE.png') no-repeat;
}
header #bottom-header .content-bottom-header ul#menu-header {
  display: block;
  list-style: none;
}
header #bottom-header .content-bottom-header ul#menu-header li {
  display: inline-block;
  margin: 0 0 0 16px;
  height: 94px;
  vertical-align: top;
}
header #bottom-header .content-bottom-header ul#menu-header li.active a,
header #bottom-header .content-bottom-header ul#menu-header li.current-menu-item a {
  padding-top: 4px;
}
header #bottom-header .content-bottom-header ul#menu-header li.active a:before,
header #bottom-header .content-bottom-header ul#menu-header li.current-menu-item a:before {
  height: 94px;
  top: 4px;
  background: #f04a2f;
  border-radius: 5px;
  -webkit-transition: height 0.1s ease-in-out;
  -moz-transition: height 0.1s ease-in-out;
  -o-transition: height 0.1s ease-in-out;
  transition: height 0.1s ease-in-out;
}
header #bottom-header .content-bottom-header ul#menu-header li.active a:after,
header #bottom-header .content-bottom-header ul#menu-header li.current-menu-item a:after {
  visibility: visible;
  top: -1px;
  -webkit-transition: top 0.1s ease-out 0.2s;
  -moz-transition: top 0.1s ease-out 0.2s;
  -o-transition: top 0.1s ease-out 0.2s;
  transition: top 0.1s ease-out 0.2s;
}
header #bottom-header .content-bottom-header ul#menu-header li a {
  display: block;
  padding: 0 10px 0;
  position: relative;
  line-height: 94px;
  color: #ffffff;
  border: 0;
}
header #bottom-header .content-bottom-header ul#menu-header li a.lien-contact {
  text-transform: none;
  font-family: 'bariolBold', sans-serif;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: 0;
  line-height: 92px;
  height: 94px;
}
header #bottom-header .content-bottom-header ul#menu-header li a.lien-contact:before {
  bottom: 0;
}
header #bottom-header .content-bottom-header ul#menu-header li a.lien-contact:after {
  font-family: 'proximaNovaBold', sans-serif;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
header #bottom-header .content-bottom-header ul#menu-header li a span {
  position: relative;
}
header #bottom-header .content-bottom-header ul#menu-header li a:after {
  content: ' •';
  position: relative;
  font-size: 1.2em;
  visibility: hidden;
  top: -100px;
  -webkit-transition: top 0.3s ease-in;
  -moz-transition: top 0.3s ease-in;
  -o-transition: top 0.3s ease-in;
  transition: top 0.3s ease-in;
}
header #bottom-header .content-bottom-header ul#menu-header li a:before {
  content: ' ';
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 0;
  width: 100%;
  background: #54b8e7;
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in;
}
.lt-ie9 header #bottom-header .content-bottom-header ul#menu-header li a:before {
  bottom: 2px;
}
header #bottom-header .content-bottom-header ul#menu-header li a:hover:before,
header #bottom-header .content-bottom-header ul#menu-header li a:focus:before {
  height: 94px;
  -webkit-transition: height 0.1s ease-in-out;
  -moz-transition: height 0.1s ease-in-out;
  -o-transition: height 0.1s ease-in-out;
  transition: height 0.1s ease-in-out;
}
header #bottom-header .content-bottom-header ul#menu-header li a:hover:after,
header #bottom-header .content-bottom-header ul#menu-header li a:focus:after {
  visibility: visible;
  top: -1px;
  -webkit-transition: top 0.1s ease-out 0.2s;
  -moz-transition: top 0.1s ease-out 0.2s;
  -o-transition: top 0.1s ease-out 0.2s;
  transition: top 0.1s ease-out 0.2s;
}
header #bottom-header .content-bottom-header ul#menu-header li a:active {
  opacity: 1;
  padding-top: 4px;
}
header #bottom-header .content-bottom-header ul#menu-header li a:active:before {
  height: 94px;
  top: 4px;
  background: #f04a2f;
  border-radius: 5px;
  -webkit-transition: height 0.1s ease-in-out;
  -moz-transition: height 0.1s ease-in-out;
  -o-transition: height 0.1s ease-in-out;
  transition: height 0.1s ease-in-out;
}
header #bottom-header .content-bottom-header ul#menu-header li a:active:after {
  visibility: visible;
  top: -1px;
  -webkit-transition: top 0.1s ease-out 0.2s;
  -moz-transition: top 0.1s ease-out 0.2s;
  -o-transition: top 0.1s ease-out 0.2s;
  transition: top 0.1s ease-out 0.2s;
}
.lt-ie9 header #bottom-header .content-bottom-header ul#menu-header li a {
  padding-left: 5px;
  padding-right: 5px;
}
.lt-ie9 header #bottom-header .content-bottom-header ul#menu-header li {
  margin: 0;
}
header #bottom-header .content-bottom-header .hamburger {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 72px;
  text-align: left;
  padding: 7px 0 0;
  display: none;
}
.lt-ie9 header #bottom-header .content-bottom-header .hamburger {
  display: none;
}
header #bottom-header .content-bottom-header .hamburger.burgerOn .symbole-burger span {
  color: #54b8e7;
}
header #bottom-header .content-bottom-header .hamburger.burgerOn .icon-burger2 {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header #bottom-header .content-bottom-header .hamburger.burgerOn .b1 {
  -webkit-transform: rotate(45deg) translate(0px, 5px);
  -moz-transform: rotate(45deg) translate(0px, 5px);
  -o-transform: rotate(45deg) translate(0px, 5px);
  -ms-transform: rotate(45deg) translate(0px, 5px);
  transform: rotate(45deg) translate(0px, 5px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header #bottom-header .content-bottom-header .hamburger.burgerOn .b3 {
  -webkit-transform: rotate(-45deg) translate(0, -5px);
  -moz-transform: rotate(-45deg) translate(0, -5px);
  -o-transform: rotate(-45deg) translate(0, -5px);
  -ms-transform: rotate(-45deg) translate(0, -5px);
  transform: rotate(-45deg) translate(0, -5px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header #bottom-header .content-bottom-header .hamburger a {
  display: block;
  position: relative;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 20px;
  outline: 0;
  border: 0;
  color: #ffffff;
}
header #bottom-header .content-bottom-header .hamburger a .symbole-burger {
  width: 21px;
  height: 25px;
  display: inline-block;
  vertical-align: top;
}
header #bottom-header .content-bottom-header .hamburger a .symbole-burger span {
  margin: 0 0 0 5px;
  display: block;
  font-size: 2.4em;
  line-height: 6px;
}
header #bottom-header .content-bottom-header .hamburger a .icon-burger2 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header #bottom-header .content-bottom-header .hamburger a .b1,
header #bottom-header .content-bottom-header .hamburger a .b3 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header #bottom-header .content-bottom-header .hamburger a:hover .symbole-burger span,
header #bottom-header .content-bottom-header .hamburger a:focus .symbole-burger span {
  color: #54b8e7;
}
ul.social-small {
  display: inline-block;
  vertical-align: top;
  padding: 0;
}
.lt-ie8 ul.social-small {
  display: inline;
}
ul.social-small li {
  display: inline-block;
}
ul.social-small li:before {
  display: none;
}
.lt-ie8 ul.social-small li {
  display: inline;
}
ul.social-small li a.lien-social {
  line-height: 25px;
  font-size: 1em;
  width: 21px;
  display: block;
  overflow: hidden;
  color: #ffffff;
  border: 0;
}
ul.social-small li a.lien-social:hover,
ul.social-small li a.lien-social:focus {
  color: #54b8e7;
}
#contact {
  background: #efebe2;
  overflow: hidden;
  /*position: absolute;
  width: 100%;
  z-index: -1;
  top: 0;*/
  /*.transition(top 0.3s ease-out);
  &.up{
    top: -54px;
    .transition(top 0.3s ease-in 0);
  }
  &.upZ{
    z-index: 0;
  }*/
}
#contact.contactBlanc {
  background: #ffffff;
}
#contact p {
  margin: 0;
  line-height: 61px;
  float: left;
}
#contact .liens-contact {
  float: right;
}
#contact .liens-contact li {
  display: inline-block;
}
#contact .liens-contact .icon-tel,
#contact .liens-contact .icon-mail {
  cursor: text;
  line-height: 61px;
  font-family: 'proximaNovaSBold', sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
#contact .liens-contact .icon-tel:before,
#contact .liens-contact .icon-mail:before {
  font-size: 4.3em;
  width: 61px;
  left: -72px;
  cursor: default;
}
.lt-ie9 #contact .liens-contact .icon-tel:before,
.lt-ie9 #contact .liens-contact .icon-mail:before {
  width: 56px;
  left: -62px;
}
#contact .liens-contact .icon-mail {
  margin: 0 0 0 100px;
}
.lt-ie9 #contact .liens-contact .icon-mail {
  margin: 0 0 0 78px;
}
.liens-contact.btn-contact {
  padding: 30px 0 0 130px;
}
.liens-contact.btn-contact li {
  padding: 0 0 20px;
}
.liens-contact.btn-contact .icon-tel,
.liens-contact.btn-contact .icon-mail {
  height: 80px;
  line-height: 30px;
  padding: 20px 0 0;
}
.liens-contact.btn-contact .icon-tel:before,
.liens-contact.btn-contact .icon-mail:before {
  border-radius: 4px;
  line-height: 100px;
  top: 0;
}
.liens-contact li:before {
  display: none;
}
.liens-contact .icon-tel,
.liens-contact .icon-mail {
  color: #202026;
  position: relative;
  border: 0;
  display: block;
  font-family: 'bariol', sans-serif;
  font-size: 1.7em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.lt-ie9 .liens-contact .icon-tel,
.lt-ie9 .liens-contact .icon-mail {
  font-size: 0.9em;
}
.liens-contact .icon-tel:before,
.liens-contact .icon-mail:before {
  font-family: 'change';
  width: 100px;
  font-size: 4.2em;
  position: absolute;
  left: -130px;
  color: #ffffff;
  background: #54b8e7;
}
.liens-contact .icon-tel > span,
.liens-contact .icon-mail > span {
  display: block;
  font-family: 'proximaNovaIt', sans-serif;
  font-size: 0.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.liens-contact .icon-tel > span span,
.liens-contact .icon-mail > span span {
  font-family: 'proximaNovaSBold', sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.liens-contact .icon-mail:before {
  background: #f04a2f;
}
footer {
  background: #202026;
  margin: 120px 0 0;
  position: relative;
  /*.transition(margin 0.3s ease-out);
  &.contactUp{
    .transition(margin 0.3s ease-in);
    margin: 150px 0 0;
  }*/
}
footer .container {
  overflow: hidden;
}
footer [class^="col-"],
footer [class*=" col-"] {
  float: left;
  padding-bottom: 50px;
}
footer .col-left {
  width: 41%;
}
footer .col-right {
  float: right;
  width: 35%;
}
footer .col-right nav {
  float: left;
}
footer .col-right form {
  float: right;
}
.lt-ie9 footer .col-right {
  width: 40%;
}
footer li:before {
  display: none;
}
footer .footer-titre {
  text-transform: uppercase;
  margin: 0 0 0 -1px;
  font-family: 'bariolBold', sans-serif;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding-bottom: 10px;
}
footer .menu-footer li {
  display: inline;
  padding: 0 10px 0 0;
}
footer .menu-footer a {
  color: #ffffff;
  font-family: 'proximaNovaSBold', sans-serif;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  border: 0;
}
footer .menu-footer a:hover,
footer .menu-footer a:focus {
  color: #d4d1cb;
}
footer form label {
  color: #ffffff;
  font-family: 'proximaNovaSBold', sans-serif;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
footer form input {
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  vertical-align: middle;
}
footer form #email {
  width: 140px;
  background: none;
  border: solid 1px #45454e;
  padding: 5px;
  font-family: 'proximaNovaIt', sans-serif;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #d4d1cb;
  -webkit-transition: border 0.2s ease-out;
  -moz-transition: border 0.2s ease-out;
  -o-transition: border 0.2s ease-out;
  transition: border 0.2s ease-out;
}
footer form #email:focus {
  outline: 0;
  border-color: #54b8e7;
  -webkit-transition: border 0.2s ease-in;
  -moz-transition: border 0.2s ease-in;
  -o-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
}
footer form #bouton-ok {
  font-family: 'bariolBold', sans-serif;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  background: #54b8e7;
  border: 0;
  padding: 3px 5px 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
footer form #bouton-ok:hover,
footer form #bouton-ok:focus {
  background: #ffffff;
  color: #47acdc;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
footer form #bouton-ok:active {
  opacity: 0.7;
  outline: 0;
}
#footer-bottom {
  background: #2e2e35;
  padding: 5px 0 7px;
}
#footer-bottom nav {
  float: left;
}
#footer-bottom li {
  display: inline;
  padding: 0 30px 0 0;
  position: relative;
}
#footer-bottom li.plan + li {
  padding: 0 0 0 23px;
}
#footer-bottom li.plan:after {
  content: ' •';
  color: #9b9b9b;
  position: absolute;
  right: 0;
}
#footer-bottom a {
  color: #9b9b9b;
  border: 0;
  font-family: 'proximaNova', sans-serif;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
#footer-bottom a:hover,
#footer-bottom a:focus {
  color: #ffffff;
}
#footer-bottom .copyright {
  color: #6d6d72;
  font-family: 'proximaNova', sans-serif;
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  float: right;
  line-height: 28px;
}
#masque {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.ref li {
  display: inline-block;
  width: 205px;
  height: 205px;
  position: relative;
  margin: 20px 35px;
}
.ref li .logo {
  position: absolute;
  z-index: 1;
  width: 110px;
  height: 110px;
  line-height: 110px;
  border-radius: 7px;
  background: #ffffff;
  text-align: center;
  top: 0;
  left: 0;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.ref li .logo img {
  vertical-align: middle;
}
.ref li .fond {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 7px;
  position: relative;
  margin: 25px 0 0 25px;
  background: #000000;
}
.ref li .fond img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.ref li:before {
  display: none;
}
.ref li:hover .logo {
  -webkit-transition: all 0.2s ease-out 0.05s;
  -moz-transition: all 0.2s ease-out 0.05s;
  -o-transition: all 0.2s ease-out 0.05s;
  transition: all 0.2s ease-out 0.05s;
  top: 60px;
  left: 60px;
}
.ref li:hover .fond img {
  opacity: 0.5;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.ref li .lt-ie9 {
  margin: 20px 18px;
}
.masqueMap {
  height: 215px;
  overflow: hidden;
}
#map {
  width: 100%;
  height: 240px;
}
.adresses {
  margin: 30px 0 20px;
}
.adresses:before {
  content: ' ';
  width: 77px;
  height: 91px;
  display: block;
  float: left;
  margin: 2px 30px 0 0;
  background: url(../layoutImg/bgPin.png) no-repeat;
}
.adresses p,
.adresses strong,
.adresses b {
  line-height: 1.35em;
}
.adresses .maj {
  display: block;
}
/* @end */
/* @group Non semantic Boilerplate */
/* remplacement image */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
/* masquage de texte, alternative (buggé?) */
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/* masqué */
.hidden {
  display: none !important;
  visibility: hidden;
}
/* masqué juste sur l'écran (pas sur RSS ou moteurs) */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* @end */
/* ==|== media queries ======================================================
   ========================================================================== */
/* mes resolutions responsives "classiques" */
@media (max-width: 1150px) {
  .container {
    width: 100%;
  }
  .container.medium {
    padding: 0 20px 0 80px;
  }
  .container.small {
    padding: 0 230px 0 80px;
  }
  .containerLeft,
  .containerRight {
    display: block;
  }
  header #top-header ul.social-small {
    margin: 0 25px 0 30px;
  }
  header #bottom-header .content-bottom-header ul#menu-header li {
    margin: 0 0 0 3px;
  }
  header #bottom-header .content-bottom-header ul#menu-header li a {
    padding: 0 8px 0;
    font-size: 0.7em;
  }
  header #bottom-header .content-bottom-header ul#menu-header li a.lien-contact {
    font-size: 1em;
  }
  header #bottom-header .content-bottom-header a#logo {
    margin: 28px 0 0 25px;
  }
  header #bottom-header .content-bottom-header a#logo:after {
    left: 80px;
  }
  #contact p {
    line-height: 56px;
  }
  #contact .liens-contact .icon-tel,
  #contact .liens-contact .icon-mail {
    line-height: 56px;
    font-size: 0.9em;
  }
  #contact .liens-contact .icon-tel:before,
  #contact .liens-contact .icon-mail:before {
    width: 56px;
    left: -62px;
  }
  #contact .liens-contact .icon-mail {
    margin: 0 0 0 78px;
  }
  footer .col-right {
    width: 40%;
  }
  .ref {
    padding-left: 40px;
  }
}
@media (max-width: 979px) {
  .container.small {
    padding: 0 50px 0 80px;
  }
  blockquote {
    margin: 0;
  }
  header #bottom-header .content-bottom-header ul#menu-header {
    background: #202026;
    position: absolute;
    padding: 50px 15px 0;
    right: -200px;
    top: -28px;
    margin: 0;
    width: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  header #bottom-header .content-bottom-header ul#menu-header li {
    display: block;
    height: auto;
    overflow: hidden;
  }
  header #bottom-header .content-bottom-header ul#menu-header li.active a,
  header #bottom-header .content-bottom-header ul#menu-header li.current-menu-item a {
    padding-top: 0;
  }
  header #bottom-header .content-bottom-header ul#menu-header li.active a:before,
  header #bottom-header .content-bottom-header ul#menu-header li.current-menu-item a:before {
    height: 51px;
    top: 0;
  }
  header #bottom-header .content-bottom-header ul#menu-header li a {
    text-align: left;
    line-height: 50px;
  }
  header #bottom-header .content-bottom-header ul#menu-header li a.lien-contact {
    line-height: 50px;
    height: auto;
  }
  header #bottom-header .content-bottom-header ul#menu-header li a:focus:before,
  header #bottom-header .content-bottom-header ul#menu-header li a:hover:before,
  header #bottom-header .content-bottom-header ul#menu-header li a:active:before {
    height: 51px;
  }
  header #bottom-header .content-bottom-header .hamburger {
    display: block;
  }
  #contact {
    /*&.up{
      top: -122px;
    }*/
  }
  #contact .liens-contact {
    float: none;
    clear: both;
    padding: 0 0 20px;
  }
  #contact .icon-tel {
    margin-left: 58px;
  }
  footer .menu-footer a {
    font-size: 1em;
  }
  footer.contactUp {
    margin: 180px 0 0;
  }
  footer .col-left,
  footer .col-mid {
    width: 20%;
    padding-right: 25px;
  }
  footer .col-left li,
  footer .col-mid li {
    display: block;
  }
  footer .col-right {
    width: 370px;
  }
  .largeContainer + footer.contactUp {
    margin-top: 122px;
  }
}
@media (max-width: 850px) {
  #contact {
    /*&.up{
      top: -122px;
    }*/
  }
  #contact .liens-contact {
    float: none;
    clear: both;
    padding: 0 0 20px;
  }
  #contact .icon-tel {
    margin-left: 58px;
  }
  footer .col-left,
  footer .col-mid {
    width: 90px;
  }
  footer .col-right {
    width: 275px;
  }
  footer .col-right form {
    float: none;
    clear: both;
  }
}
@media (max-width: 767px) {
  .touch .container.first {
    margin-top: 0;
  }
  .containerLeft,
  .containerRight {
    width: 100%;
  }
  .touch header {
    position: relative;
  }
  .touch header #bottom-header ul#menu-header {
    position: fixed;
  }
  header #top-header .content-top-header p {
    width: auto;
  }
  header #top-header .content-top-header p span {
    display: none;
  }
}
@media (max-width: 610px) {
  #contact {
    /*&.up{
      top: -183px;
    }*/
  }
  #contact .liens-contact li,
  #contact .liens-contact a {
    display: block;
  }
  #contact .liens-contact .icon-mail {
    margin: 10px 0 0 58px;
  }
  footer {
    /*&.contactUp{
      margin: 260px 0 0;
    }*/
  }
  footer .col-right {
    width: 45%;
  }
  footer .col-right label {
    display: block;
    margin: 0 0 5px;
  }
  /*.largeContainer+footer{
    &.contactUp{
      margin-top: 185px;
    }
  }*/
}
@media (max-width: 515px) {
  footer .col-left,
  footer .col-mid {
    padding: 0 30px 20px 0;
  }
  footer .col-right {
    width: 100%;
    float: none;
    clear: both;
  }
}
@media (max-width: 480px) {
  #contact {
    /*&.up{
      top: -212px;
    }*/
  }
  #contact p {
    line-height: 21px;
    float: none;
    margin: 20px 0;
  }
  #contact p b {
    display: block;
  }
  /*.largeContainer+footer{
    &.contactUp{
      margin-top: 210px;
    }
  }*/
  #footer-bottom nav,
  #footer-bottom .copyright {
    float: none;
  }
  #footer-bottom li {
    padding: 0 13px 0 0;
  }
  #footer-bottom li.plan + li {
    padding: 0 0 0 5px;
  }
}
@media (max-width: 390px) {
  .container.medium,
  .container.small {
    padding: 0 20px 0;
  }
  header #bottom-header .content-bottom-header a#logo:after {
    display: none;
  }
  header #top-header #blog-header {
    display: none;
  }
  .ref {
    padding: 0;
  }
  .ref li {
    margin: 20px 35px 20px 15px;
  }
}
@media (max-width: 320px) {
  .container.medium,
  .container.small {
    padding: 0 15px 0;
  }
  #contact .liens-contact .icon-mail {
    margin: 10px 0 0 57px;
  }
}
/* retina */
/* ==|== print styles =======================================================
   ========================================================================== */
@media print {
  /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
