/* ==|== media queries ======================================================
   ========================================================================== */


@media (max-width: 1700px){

     .contrat{
       .fd{
          background-position: 0 100%;
       }
     }

}


@media (max-width: 1500px){

  .fdClubHeader{
    width: 64%;
  }

  .smallWorld{
    right: -12%;
  }

  .smallShop{
    left: -100px;
  }

}

@media (max-width: 1280px) {
  .fd-saas{
    background-size: 600px auto;
    background-position: 100% 60%;
  }

  .dl{
    background-position: 100% -20%;
    background-size: 900px;
  }

  .svgSchemaContainer{
    left: 20%;
  }

  .smallShop{
    left: -200px;
  }
}


@media (max-width: 1150px) {
  
  .container{
    width: 100%;
    &.medium{
      padding: 0 20px 0 80px;
    }
    &.small{
      padding: 0 230px 0 80px;
    }
    &.small-width{
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .containerLeft, .containerRight{
    display: block;
  }

  .top-header{
    .container{
      padding: 0 20px 0 25px;
    }
  }

  #menu-main {
    li{
      margin: 0 0 0 3px;
      .lien-contact, &#menu-item-54 a, &#menu-item-303 a, &#menu-item-3838 a{
        font-size: 1em;
      }
      a{
        padding: 0 8px 0;
        font-size: 0.7em;
      }
    }
  }
  #logo{
    margin: 28px 0 0 25px;
    &:after{
      left: 80px;
    }
  }

  #contact{
    p{
      line-height: 56px;
    }
    .liens-contact{
      .icon-tel, .icon-mail{
        line-height: 56px;
        font-size: 0.9em;
        &:before{
          width: 56px;
          left: -62px;
        }
      }
      .icon-mail{
        margin: 0 0 0 78px;
      }
    }
  }

  footer{
    .col-right{
      width: 40%;
    }
  }
  
  .home{
    .home-ul{
      margin-left: auto;
      margin-right: auto;
    }
    .first-ul{
      width: 940px;
      margin-bottom: 0; 
      > li{
        width: 100%;
        margin: 0 0 50px;
      }
      h2{
        margin: 10px 0 20px;
      }
    }
    .last-ul{
      width: 470px;
      li{
        float: none;
        width: 98%;
        overflow: hidden;
        span:before{
          margin: 0 35px 0 0;
        }
      }
      +h2{
        width: 95%;
      }
    }
  }

  #containerVid{
    p{
      padding-left: 25px;
      br{
        display: block;
      }
    }
  }

  .solution, .page-template-solution-php{
    > .container, > div .container{
      padding-left: 30px;
      padding-right: 30px;
      .container{
        padding-left: 0;
        padding-right: 0;
      }
    }
    .bloc-noir-fond{
      background-position: 280px 100%;
      background-size: 80%;
    }
    .bloc-padding-left{
      float: none;
      width: 100%;
      margin-top: -70px;
    }
    .big-padding-left{
      margin-top: 455px;
    }
  }
  .fd-shop{
    width: 100%;
    margin-left: 0;
    float: none;
    margin-top: 60px;
    .vitrine{
      background-size: 100%;
    }
    .shop{
      margin-top: 125px;
    }
  }
  .bloc-saas{
    .big-padding-left .encadre {
      margin-left: 0;
      .bloc-txt-encadre p.big-p br{
        display: none;
      }
    }
   }
  .fd-saas {
    width: 100%;
    margin: 0 auto;
    right: auto;
    background-position: 50% 50%;
    top: 140px;
    .nuage1, .nuage2{
      left: 0;
      background-position: 0 100%;
    }
  }

  .liste-pictos.liste-pictos-noir {
    padding-left: 0;
    width: 100%;
  }

  .fonctionnalites, .page-template-fonctionnalites-php{
    .content, .titre-fonctionnalite{
      .container{
        width: 90%;
        &.big-padding-left{
          padding-left: 15%;
        }
      }
    }
    .big-padding-left{
      .liste-pictos{
        width: 80%;
      }
    }
    .commande{
      .liste-pictos{
        width: 45%;
      }
    }
    .api{
      background: @grisFonce url(../layoutImg/fonc/api2.png) no-repeat;
      .background-size(auto 100%);
    }
    .tab{
      &.tab1, &.tab2{
        width: 50%;
        background-size: 100%; 
      }
      &.tab1{
        width: 40%;
        right: -110px;
      }
    }
  }
  
  .partner-header{
    h1{
      letter-spacing: 5px;
      margin-left: -222px;
    }
    .no-svg &, .no-js &{
      .hand{
        display: none;
      }
    }
  }
  .rect{
    .bigSvg{
      display: none;
    }
    .smallSvg{
      display: block;
    }
    .p1{
      left: 50%;
      margin-left: -220px;
    }
    .p2{
      left: 50%;
      margin-left: -84px;
    }
    .no-svg &, .no-js &{
      margin: 200px 0 100px;
      background: none;
      .touch &{
        margin-top: 100px;
      }
      p, .smallSvg{
        display: none;
      }
    }
  }
  .partnerTechno {
    .container{
      padding-right: 20px;
      padding-left: 350px;
    }
  }
  .travailler{
    .container{
      padding-right: 20px;
      padding-left: 450px;
    }
    .fd{
      min-width: 1550px;
    }
  }
  .objectif{
    .container{
      padding-right: 20px;
    }
  }
  .contrat{
    .container{
      padding-left: 20px;
    }
    .fd{
      width: 80%;
    }
  }

  .bloc-header-club{
    .container{
      padding: 0 25px;
    }
  }

  .fdClubHeader{
    width: 70%;
  }

  #histoire{
    .container{
      padding: 40px 20px 140px;
    }
  }

  #equipe{
    text-align: center;
  }

  .sliderEnt{
    width: 500px;
    height: 710px;
    text-align: left;
    li{
      width: 450px;
    }
  }

  .navSlideEnt{
    left: 45%;
  }

  .smallWorld{
    right: -20%;
  }

  /*.temp{
    float: none;
    margin-left: 55px;
  }
  .temp-contact{
    float: none;
    margin: 20px 0 0 55px;
  }*/

  .searchform{
    margin-right: 20px;
  }

}

@media (max-width: 1060px) {

  .bloc-header-club{
    a.bigBtn{
      margin-bottom: 0;
    }
  }
  
  .fdClubHeader{
    width: 100%;
    max-width: 100%;
    background-size: 100%;
    position: relative;
    height: 0;
    padding-bottom: 63%;
  }

  .club, .page-template-club-php{
    .containerLeft{
      width: 100%;
      br{
        display: none;
      }
    }
  }

  .svgSchemaContainer{
    left: 19%;
  }

}

@media (max-width: 979px) {

  .container{
    &.small, &.small2{
      padding: 0 50px 0 80px;
    }
  }

  blockquote{
    margin: 0;
  }

  .hamburger{
    display: block;
    &.burgerBlog{
      display: none;
    }
  }
  #menu-main {
    background: @grisFonce;
    position: absolute;
    padding: 50px 15px 0;
    right: -200px;
    top: -28px;
    margin: 0;
    width: 200px;
    .box-sizing(border-box);
    .touch &{
      position: fixed;
    }
    li{
      display: block;
      height: auto;
      overflow: hidden;
      &.active, &.current-menu-item {
        a{
          padding-top: 0;
          &:before{
            height: 51px;
            top: 0;
          }
        }
      }
      &#menu-item-54 a, &#menu-item-303 a, &#menu-item-3838 a, .lien-contact{
        line-height: 50px;
        height: auto;
      }
      a{
        text-align: left;
        line-height: 50px;
        &:focus, &:hover, &:active{
          &:before{
            height: 51px;
          }
        }
      }
    }
  }

  #contact{
    .liens-contact{
      float: none;
      clear: both;
      padding: 0 0 20px;
    }
    .icon-tel{
      margin-left: 58px;
    }
  }

  footer{
    .menu-footer a, .col-left a, .col-mid a{
      font-size: 1em;
    }
    &.contactUp{
      margin: 180px 0 0;
    }
    .col-left, .col-mid{
      width: 20%;
      padding-right: 25px;
      &.col-temp{
        width: 100px;
        padding-left: 50px;
        li{
          display: inline-block;
        }
      }
      li{
        display: block;
      }
    }
    .col-right{
      width: 370px;
    }
  }

  .home{
    h1{
      margin: 0 20px;
      br{
        display: none;
      }
    }
    .content{
      p{
        width: 95%;
      }
    }
    .first-ul{
      width: 100%;
    }
  }

  #containerVid {
    img{
      width: 69%;
      right: 2px;
    }
    .rejouer{
      bottom: 10px;
      span{
        display: none;
      }
    }
  }
  #mask{
    background-size: 100%;
  }

  #sliderVid{
    display: block;
    .no-js &{
      display: none;
    }
  }

  #slider{
    #bulle{
      margin-top: 0;
      &:before{
        font-size: 27px;
      }
    }
    .pagination{
      top: 230px;
      margin-left: -267px;
      width: 535px;
    }
  }

  .largeContainer+footer{
    &.contactUp{
      margin-top: 122px;
    }
  }

  .encadre {
    .bloc-txt-encadre{
      &.small-encadre{
        width: 100%;
      }
    }
  }

  #screen-solution{
      bottom: 0;
      background-size: 58%;
      width: 100%;
      left: 0;
      margin-left: 0;
    }

  .solution, .page-template-solution-php{
    .big-padding-left{
      margin-top: 500px;
    }
    .bloc-padding-left{
      margin-top: 60px;
    }
  }

  .schema{
    width: 693px;
    .no-js &{
      background: none;
    }
    .change{
      left: 293px;
      top: 75px;
    }
    li{
    &.erp{
      top: 0;
      left: 176px;
      .msk{
        width: 61px;
      }
    }
    &.mob{
      .msk{
        width: 165px;
      }
    }
    &.rs{
      top: 163px;
      left: 47px;
      .msk{
        width: 150px;
      }
    }
    &.wms{
      top: 199px;
      left: 189px;
    }
    &.tablette{
      top: 357px;
      left: 205px;
    }
    &.pim{
      top: 259px;
      left: 326px;
      .msk{
        .transform(rotate(81deg));
        left: -36px;
      }
    }
    &.obj{
      top: 292px;
      left: 440px;
      .msk{
        top: -76px;
        width: 177px;
        left: -122px;
      }
    }
    &.fid{
      top: 174px;
      left: 493px;
      .msk{
        width: 134px;
        left: -127px;
      }
    }
    &.ecran{
      left: 663px;
      top: 89px;
      .msk{
        left: -291px;
        top: 25px;
        width: 205px;
      }
      span{
        left: -81px;
      }
    }
    &.crm{
      top: 29px;
      left: 505px;
      .msk{
        width: 131px;
        left: -137px;
        top: 39px;
      }
    }
  }
}
  
   .fd-shop{
    .shop{
      margin-top: 0;
      top: 0;
    }
   }

   .fd-saas {
      top: 200px;
      .nuage1, .nuage2{
        display: none;
      }
    }

    .fonctionnalites, .page-template-fonctionnalites-php{
      .content{
        .container{
          &.big-padding-left{
            padding-left: 0;
          }
        }
        .cross, .fid{
          padding-bottom: 0;
        }
      }
      .fid, .cross{
        .fd{
          width: 100%;
          background-size: 100%;
          height: auto;
          padding-bottom: 71%;
        }
      }
      .merch{
        .big-p{
          width: 100%;
        }
        .container{
          padding-bottom: 370px;
        }
      }
      .fid{
        .big-p{
          br{
            display: none;
          }
        }
      }
      .tab{
        &.tab1{
          width: 443px;
          right: 200px
        }
        &.tab2{
          width: 542px;
          bottom: -50px;
        }
      }
      .inter, .api, .cms{
        height: auto;
      }
      .commande{
        .liste-pictos{
          width: 44%;
        }
      }
      .fd{
        position: relative;
      }
    }
    .titre-fonctionnalite{
      height: 530px;
    }

    .subMenu{
      display: none;
    }

    .partnerSolution{
      .container{
        padding-right: 20px;
      }
    }
    .partnerTechno {
      .container{
        padding-left: 20px;
        > div{
          padding-left: 170px;
        }
      }
      .logoPartner{
        left: -17px;
      }
    }
    .travailler{
      .fd{
        display: none;
      }
      .container{
        padding-left: 20px;
      }
    }
    .objectif{
      .container{
        padding-left: 20px;
      }
    }
    .contrat{
      padding-bottom: 0;
      .container{
        padding-right: 20px;
      }
      .fd{
        position: relative;
        width: 100%;
        padding-top: 57%;
        background-size: 100%;
      }
    }

    .presse, .page-template-presse-php{
      .containerRight{
        width: 350px;
      }
    }

    .chemise{
      right: -100px;
    }

    .presseLogo{
      left: -30px;
    }

    #vision{
      margin: 94px 0 0;
    }

    #svgWorld, #svgShop{
      display: none;
    }

    .containerEnt{
      width: 100%;
      float: none;
      >div{
        float: right;
        &.right{
          float: none;
        }
      }
      &.right.beige{
        > div{
          float: none;
          max-width: 100%;
        }
      }
    }

    #vision{
      blockquote{
        margin: 40px 0 0;
      }
    }

    .svgSchemaContainer{
      position: relative;
      margin: 65px auto 0;
      top: 0;
      left: 0;
      width: 470px;
    }

    #svgSchema{
      margin: 0 auto;
    }

    #txt1, #txt3, #txt5{
      left: 0;
    }
    #txt2, #txt4, #txt6{
      left: auto;
      right: 0;
    }

    .sliderEnt{
      width: 100%;
      margin: 50px 0 0;
      li{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        .no-js &{
          left: 0 !important;
        }
      }
    }

    .navSlideEnt{
      left: 370px;
      top: 420px;
      .next{
        left: 40px;
        &:hover{
          left: 43px;
        }
      }
    }

    .vignettesEnt{
      width: auto;
      .box-sizing(border-box);
      overflow: hidden;
      padding: 50px 3% 0 5%;
      margin: 0;
      li{
        position: relative;
        margin: 0 20px 20px 0;
        float: left;
        &.middle{
          top: 0;
          left: 0;
        }
      }
    }
    .v1, .v2, .v3, .v4{
      top: 0;
      left: 0;
    }

}

@media (max-width: 850px) {

  form{
    width:100%;
    fieldset.smallField{
      width: 100%;
    }
  }

  #contact{
    .liens-contact{
      float: none;
      clear: both;
      padding: 0 0 20px;
    }
    .icon-tel{
      margin-left: 58px;
    }
  }
  
  footer{
    .col-left, .col-mid{
      width: 90px;
    }
    .col-right{
      width: 275px;
      > form, .news{
        float: none;
        clear: both;
      }
    }
  }

  #bloc-visu-solution{
    height: 640px;
  } 

  .ref{
    li{
      height: auto;
      padding: 40px 0;
      &:hover{
        margin: 0;
        height: auto;
      }
    }
    .fd{
      top: 0;
    }
  }

  .fd-saas {
      width: 100%;
    }

  .fonctionnalites, .page-template-fonctionnalites-php{
    .cms{
      .big-p{
        width: auto;
      }
    }
    .commande{
      .fd-opaque{
        height: 280px;
      }
    }
  }
  
  .presse, .page-template-presse-php{
    form{
      width: 600px;
    }
  }

  .chemise{
    display: none;
  }

  .presseLogo{
    left: -80px;
    opacity: 0.4;
  }

  .liste-releves{
    li{
      margin-bottom: 20px;
    }
    a{
      >span{
        display: block;
        padding: 20px 10px 0 7px;
        width: 100%;
        max-width: 92%;
      }
      &:hover, &:focus{
        >span{
          padding: 10px 10px 0 17px;
        }
      }
    }
  }

  .club, .page-template-club-php{
    .liste-pictos{
      width: 44%;
    }
  }

  .containerEnt > div {
    float: none;
    max-width: 100%;
  }

}

@media (max-width: 767px) {
    
    .touch .container.first {
      margin-top: 0;
    }

    .touch .blog .container.first {
      margin-top: 20px;
    }

    .containerLeft, .containerRight{
      width: 100%;
    }

    #blog-header{
      p{
        span{
          display: none;
        }
      }
    }

    .home{
      .content{
        p{
          width: 86%;
        }
      }
    }

    #containerVid{
      .container{
        .touch &{
          min-height: 600px;
          max-height: 600px;
        }
      }
      p{
        .touch &{
          top: 0;
        }
      }
      img{
        width: 76%;
      }
    }
    #mask{
      background-size: 110%;
    }

    .ref{
      li .fd{
        height: 680px;
      }
    }

    .solution, .page-template-solution-php {
      .big-padding-left {
        margin-top: 430px;
      }
    }

    .fonctionnalites, .page-template-fonctionnalites-php{
      h1{
        width: 78%;
      }
      .commande{
        height: auto;
        .fd-opaque{
          height: 290px;
        }
        .liste-pictos{
          width: 100%;
        }
      }
      .merch, .fid{
        .liste-pictos{
          width: 100%;
        }
      }
      .inter{
        .big-p{
          width: auto;
        }
      }
      .liste-pictos{
        width: 100%;
      }
    }

  .schema{
    width: 473px;
    margin-top: 65px;
    .change{
      left: 171px;
      top: 200px;
      height: 56px;
      width: 56px;
      background-size: 78%;
    }
    li{
    &.erp{
      left: 167px;
      top: 65px;
      .msk{
        left: 4px;
        top: 84px;
        .transform(rotate(88deg));
      }
    }
    &.mob{
      left: 34px;
      top: 0;
      .msk{
        width: 134px;
        .transform(rotate(63deg));
        top: 123px;
        left: 45px;
      }
      span{
        top: -40px;
      }
    }
    &.rs{
      left: 0;
      top: 107px;
      .msk{
        left: 90px;
        top: 80px;
        width: 74px;
        .transform(rotate(24deg));
      }
    }
    &.wms{
      top: 228px;
      left: 37px;
      .msk{
        width: 61px;
        top: 6px;
        left: 60px;
        .transform(rotate(-15deg));
      }
    }
    &.tablette{
      top: 345px;
      left: 13px;
      .msk{
        top: -47px;
        width: 120px;
        left: 60px;
        .transform(rotate(-54deg));
      }
    }
    &.pim{
      top: 346px;
      left: 170px;
      .msk{
        .transform(rotate(87deg));
        left: -10px;
        width: 76px;
        top: -49px;
      }
    }
    &.obj{
      top: 360px;
      left: 262px;
      .msk{
        top: -55px;
        width: 115px;
        left: -67px;
        .transform(rotate(62deg));
      }
    }
    &.fid{
      top: 251px;
      left: 310px;
      .msk{
        width: 76px;
        left: -72px;
        top: -5px;
      }
    }
    &.ecran{
      left: 443px;
      top: 123px;
      .msk{
        left: -205px;
        top: 69px;
        width: 117px;
        .transform(rotate(-13deg));
      }
      span{
        left: -81px;
      }
    }
    &.crm{
      top: 36px;
      left: 308px;
      .msk{
        width: 131px;
        left: -102px;
        top: 98px;
        .transform(rotate(-50deg));
      }
    }
  }
}
  
  .presse, .page-template-presse-php{
    form{
      width: 100%;
    }
  }

  .club, .page-template-club-php{
    .liste-pictos{
      width: 100%;
      margin: 0;
      &.liste-first{
        margin-top: 30px;
      }
    }
  }

  .club-header {
    width: auto;
    padding: 0 0 20px;
    h1{
      padding-left: 175px;
      padding-bottom: 30px;
    }
  }

  .macaron{
    top: 25px;
  }

  .dl {
    background-position: 100% -80%;
    background-size: 600px;
  }

  .hamburger.burgerBlog{
    display: block;
  }

  .menuBlog{
    background: @grisFonce;
    position: absolute;
    padding: 32px 15px 0;
    right: -200px;
    top: -28px;
    margin: 0;
    width: 200px;
    .box-sizing(border-box);
    .touch &{
      position: fixed;
    }
    ul{
      display: block;
      width: auto;
    }
    li{
      display: block;
    }
    h2{
      background: @blanc;
      color: @bleu;
    }
  }

  #btnCat{
    cursor: auto;
    width: 170px;
    a{
      display: none;
    }
  }

  .searchform{
    margin-left: 0;
    margin-right: 0;
    .searchInput{
      opacity: 1;
      width: 154px;
    }
  }

}

@media (max-width: 730px){
  .navSlideEnt{
    top: 591px;
  }

  .vignettesEnt{
    width: 100%;
  }

  #equipe{
    h2{
      text-align: left;
      padding-left: 5%;
    }
  }
}

@media (max-width: 630px) {

  form{
    fieldset{
      display: block;
    }
  }

  p.error{
    width: 88%;
  }

  .liens-contact{
    &.btn-contact{
      padding-left: 90px;
        .icon-tel, .icon-mail{
          font-size: 1.4em;
          height: 57px;
          line-height: 25px;
          padding: 12px 0 0;
          &:before{
            width: 77px;
            line-height: 77px;
            left: -90px;
            font-size: 6rem;
          }
        }
      } 
  }

  #containerVid{
    .container{
     min-height: 650px;
      max-height: 650px;
      .touch &{
        min-height: 550px;
        max-height: 550px;
      }
    }
    .rejouer{
      right: 60px;
    }
    img{
      right: -45px;
      width: 83%;
    }
    p{
      font-size: 2em;
      line-height: 35px;
      top: 100px;
    }
  }

  #mask{
    right: -45px;
    background-size: 120%;
  }

  #sliderVid{
    width: 510px;
    height: 510px;
    right: 0;
    .slides{
      height: 510px;
      li{
        top: 50px;
      }
    }
  }

  .ref{
    .encadre{
      .bloc-txt-encadre{
        padding: 30px 0 0;
        .big-h3{
          padding-left: 125px;
          margin-bottom: 35px;
          text-indent: 0;
          line-height: 32px;
        }
      }
    }
  }

  .solution, .page-template-solution-php{
    .bloc-noir-fond {
      background-position: 100% 100%;
      background-size: 100%;
      padding-bottom: 200px;
    }
  }

  .encadre, .fonctionnalites .encadre, .page-template-fonctionnalites-php .encadre{
    .bloc-txt-encadre{
      padding: 50px 0 0;
      h3, .h3{
        text-indent: 170px;
      }
      p.big-p{
        margin-top: 70px;
      }
    }
  }

  .liste-pictos2{
    margin: 0;
  }
  .liste-pictos.liste-pictos-noir{
    padding-left: 0;
    width: 97%;
  }

  .fonctionnalites, .page-template-fonctionnalites-php{
    .big-padding-left{
      .liste-pictos{
        padding-left: 0;
        width: 100%;
      }
    }
    .commande{
      .fd-opaque{
        height: 410px;
      }
    }
    .tab{
      &.tab1{
        width: 60%;
        right: 30%;
        bottom: -30%;
      }
      &.tab2{
        width: 75%;
        right: -120px;
        bottom: -10%;
      }
    }
  }
}

@media (max-width: 610px) {
  
  #contact{
    .liens-contact{
      li, a{
        display: block;
      }
      .icon-mail{
        margin: 10px 0 0 58px;
      }
    }
  }

  footer{
    .col-right{
      width: 45%;
      label{
        display: block;
        margin: 0 0 5px;
      }
    }
  }

  #slider{
    .pagination{
      width: 265px;
      margin-left: -133px;
    }
    .slides{
      height: 800px;
    }
  }

  #sliderVid{
    width: 470px;
    height: 470px;
    .slides{
      height: 470px;
    }
  }

  .home{
    .first-ul{
      li{
        width: 100%;
        li{
          margin: 0 0 50px;
        }
      }
    }
  }

  #screen-solution{
    background-size: 70%;
  } 

  .encadre, .fonctionnalites .encadre, .page-template-fonctionnalites-php .encadre{
    .bloc-icon-encadre{
      width: 80px;
      height: 80px;
      .icon-cross, .icon-plug{
        font-size: 80px;
      }
      .icon-cloud, .icon-star {
        font-size: 110px;
      }
    }
    .bloc-txt-encadre{
      padding: 15px 0 0;
      h3, .h3{
        text-indent: 100px;
      }
    }
  }
  .fonctionnalites, .page-template-fonctionnalites-php{
    .encadre{
      .bloc-txt-encadre{
        p.big-p{
          margin-top: 40px;
        }
      }
      .icon-cms, .icon-box, .icon-target, .icon-worldwide{
        font-size: 50px;
      }
      .icon-crosscommerce{
        font-size: 65px;
      }
      .icon-lock{
        font-size: 44px;
      }
    }

    .commande{
      .fd-opaque{
        height: 340px;
      }
    }
  }

  .club-header {
    h1 {
      padding-left: 100px;
      padding-bottom: 15px;
    }
  }

  .macaron{
    background-size: 100%;
    height: 80px;
    width: 80px;
    top: 55px;
  }

  .menuPost{
    float: none;
    li{
      display: inline-block;
      vertical-align: top;
      margin: 0 10px 10px 0;
    }
    .share + ul{
      width: auto;
      top: 0;
      left: 139px;
      height: 38px;
      width: 0;
      .no-js &, .lt-ie9 &.open{
        width: 91px;
      }
      li{
        margin: 10px 0 0;
        &:first-child{
          margin-left: 5px;
        }
        &:last-child{
          margin-right: 5px;
        }
      }
      a{
        margin: 0 5px 5px;
      }
    }
  }

  .section{
    margin-left: 0;
  }

  .navBlog{
    a{
      border: 0;
    }
    .txt{
      display: none;
    }
    .icon-prev, .icon-next{
      font-size: 40px;
    }
  }

  .containerEnt{
    padding: 75px 20px;
    &.right.beige{
      > div{
        max-width: 100%;
      }
    }
  }

  #vision{
    blockquote{
      &:before{
        display: none;
      }
    }
  }

  /*.temp{
    width: 74%;
  }*/

}

@media (max-width: 520px) {
  
  h1, .h1{
    .bariol(2.2em);
  }

  footer{
    .col-left, .col-mid{
      padding: 0 30px 20px 0;
    }
    .col-right{
      width: 100%;
      float: none;
      clear: both;
    }
  }

  .liens-contact{
    &.btn-contact{
      padding-left: 66px;
        .icon-tel, .icon-mail{
          font-size: 1em;
          height: 40px;
          line-height: 19px;
          padding: 8px 0 0;
          &:before{
            width: 55px;
            line-height: 55px;
            left: -66px;
            font-size: 4rem;
          }
          >span{
            font-size: 0.7em;
          }
        }
      } 
  }

  #containerVid{
    .container{
      min-height: 520px;
      max-height: 520px;
      .touch &{
        min-height: 420px;
        max-height: 420px;
      }
    }
    .rejouer{
      font-size: 0.55em;
    }
    p{
      font-size: 1.4em;
      line-height: 28px;
    }
  }

  #sliderVid{
    right: -45px;
    width: 430px;
    height: 430px;
    .slides{
      height: 430px;
    }
  }

  #slider {
    margin-top: -300px;
    .pagination{
      top: 300px;
    }
  }

  .adresses{
    &:before{
      width: 55px;
      height: 90px;
      background-size: 100%;
      margin-right: 10px;
    }
    p, strong, b{
      line-height: 1.2em;
    }
  }

  .ref{
    li{
      background: @grisTresClairFond;
      .fd{
        background: none !important;
      }
    }
  }

  .encadre{
    .bloc-txt-encadre{
      p.big-p{
        font-size: 1.5em;
        line-height: 27px;
      }
    }
  }

  #screen-solution{
    background-size: 80%;
  }

  .solution, .page-template-solution-php{
    .container.padding-top-bottom {
      padding-top: 0;
    }
  }

  .fd-saas {
    top: 120px;
  }

  .schema{
    width: 300px;
    .change{
      height: 47px;
      width: 47px;
      left: 120px;
      top: 197px;
    }
    li{
      &.mob, &.obj{
        span{
          width: 95px;
          height: 95px;
          padding-top: 29px;
        }
      }
      &.ecran{
        span{
          width: 90px;
          height: 90px;
          padding-top: 27px;
        }
      }
      &.rs, &.tablette{
        span{
          width: 80px;
          height: 80px;
          padding-top: 22px;
        }
      }
      &.fid{
        span{
          height: 70px;
          width: 70px;
          line-height: 70px;
        }
      }
      &.erp{
        left: 110px;
        top: 72px;
      }
      &.mob{
        left: 9px;
        top: 51px;
        .msk{
          width: 101px;
          top: 87px;
          left: 42px;
        }
      }
      &.rs{
        top: 130px;
        .msk{
          width: 45px;
          top: 62px;
          left: 73px;
        }
      }
      &.wms{
        top: 219px;
        left: 12px;
        .msk{
          width: 47px;
        }
      }
      &.tablette{
        top: 313px;
        left: 7px;
        .msk{
          top: -40px;
          width: 88px;
          left: 48px;
          .transform(rotate(-61deg));
        }
      }
      &.pim{
        top: 326px;
        left: 113px;
      }
      &.obj{
        top: 331px;
        left: 191px;
        .msk{
          top: -49px;
          width: 104px;
          left: -54px;
        }
      }
      &.fid{
        left: 224px;
        top: 240px;
        .msk{
          width: 56px;
          left: -56px;
        }
      }
      &.ecran{
        left: 292px;
        top: 133px;
        .msk{
          left: -123px;
          top: 65px;
          width: 42px;
        }
      }
      &.crm{
        top: 59px;
        left: 220px;
        .msk{
          width: 101px;
          left: -79px;
          top: 86px;
        }
      }
    }
  }

  .fonctionnalites, .page-template-fonctionnalites-php{
    h1{
      width: 100%;
    }
    .commande{
      .fd-opaque{
        height: 300px;
      }
    }
  }
  .titre-fonctionnalite{
    height: 330px;
  }

  .h1{
    &.border{
      float: none;
      margin-top: 20px;
    }
  }
  .partner{
    .content{
      p{
        padding-left: 0;
      }
    }
    .big-p{
      margin-top: 95px;
    }
  }
  .partner-header{
    .hand{
      display: none;
    }
  }
  .rect{
    margin: 250px 0 100px;
    .touch &{
      margin-top: 150px;
    }
    .p1, .p2{
      width: 100%;
      left: 0;
      margin-left: 0;
      text-align: center;
      font-size: 1.1em;
    }
    .smallSvg{
      display: none;
    }
  }
  .quote{
    margin-left: 0;
  }
  .travailler{
    .h1{
      margin-top: -100px;
      + .maj{
        display: block;
      }
    }
  }
  .partnerSolution{
    .container{
      padding-left: 20px;
    }
    h2{
      padding-left: 125px;
    }
  }
  .partnerTechno{
    .container{
      >div{
        padding-left: 0;
      }
    }
    h2{
      padding-left: 125px;
    }
  }

  .temp{
    width: 71%;
    .maj{
      text-align: center;
    }
    form{
      label{
        text-align: center;
      }
      input{
        margin: 0 auto;
        display: block;
      }
      .bigBtn{
        display: block;
        margin: 5px 0 0;
        margin: 5px auto 0;
      }
    }
    .icon-mail{
      text-indent: 0;
      font-size: 0.95em;
      margin: 30px auto 6px;
      display: block;
      width: 228px;
      &:before{
        position: relative;
        margin: 0 auto;
        left: 0;
      }
    }
  }

  .macaron{
    top: 38px;
  }
  
  .svgSchemaContainer{
    width: 100%;
    li{
      position: relative;
      opacity: 1;
      margin: 0 0 40px;
      width: 100%;
      padding: 0 0 0 50px;
      .box-sizing(border-box);
    }
    i{
      left: 0;
    }
    .txtRight{
      text-align: left;
      i{
        left: 0;
        right: auto;
      }
    }
  }
  #svgSchema{
    display: none;
  }
  #txt1, #txt2, #txt3, #txt4, #txt5, #txt6{
    top: 0;
    left: 0;
  }
  #txt4 i, #txt6 i{
    left: 0;
  }

}

@media (max-width: 480px) {
  
  #contact{
    p{
      line-height: 21px;
      float: none;
      margin: 20px 0;
      b{
        display: block;
      }
    }
  }

  #blog-header{
    .icon-plus{
      margin: 0;
    }
  }

  #footer-bottom {
    nav, .copyright{
      float: none;
    }
    li{
      padding: 0 13px 0 0;
      &.plan + li{
        padding: 0 0 0 5px;
      }
    }
  }

  .home{
    .last-ul{
      width: 95%;
      li{
        span{
          &:before{
            margin: 14px 20px 40px 15px;
            font-size: 44px;
            width: 54px;
            line-height: 54px;
          }
          &.icon-fleche:before{
            font-size: 70px;
          }
          &.icon-horloge:before{
            font-size: 55px;
          }
          &.icon-target:before {
            font-size: 35px;
          }
        }
      }
    }
  }

  .adresses{
    p, strong, b{
      font-size: 0.8em;
    }
  }

  #contactTel{
    .facultatif{
      display: inline;
    }
  }

  .solution, .page-template-solution-php{
    .big-h3{
      font-size: 1.5em;
    }
  }

  .fonctionnalites, .page-template-fonctionnalites-php{
    .commande{
      .fd-opaque{
        height: 350px;
      }
    }
    .encadre{
      .bloc-txt-encadre{
        .h3{
          text-indent: 0;
          padding-left: 90px;
          line-height: 30px;
        }
      }
    }
  }

  .presse, .page-template-presse-php{
    .containerRight {
      width: 100%;
      text-align: center;
    }
  }

  .liste-releves{
    a{
      text-align: center;
      >span{
        width: auto;
        max-width: 100%;
      }
      &:hover, &:focus{
        img{
          padding: 0;
        }
        >span{
          padding-left: 7px;
        }
      }
    }
  }

  .vignettesEnt{
    li{
      .size(110px);
      &:hover, &:focus{
        p{
          margin-top: 60px;
        }
      }
      &.on{
        p{
          .no-js &{
            margin-top: 60px;
          }
        }
      }
    }
    span{
      display: none;
    }
    p{
      margin: 35px 5px;
      .no-js &{
        margin-top: 60px;
      }
    }
  }

  .navSlideEnt{
    top: 470px;
    left: 5%;
  }

}

@media (max-width: 465px){
  #slider{
    .slides{
      height: 900px;
    }
  }

  .fonctionnalites, .page-template-fonctionnalites-php{
    .merch{
      .container{
        padding-bottom: 270px;
      }
    }
    .tab{
      &.tab2{
        right: -80px;
        bottom: -15%;
      }
    }
  }

  .partner-header{
    h1{
      margin-top: -38px;
      width: 300px;
      margin-left: -150px;
    }
  }

  .rect .p1{
    width: 300px;
    left: 50%;
    margin-left: -150px;
  }
}

@media (max-width: 430px){
  
  .home {
    .last-ul {
      li.liRouge {
        h3{
          padding: 12px 0 0;
        }
      }
    }
  }

  #sliderVid{
    width: 360px;
    height: 360px;
    .slides{
      height: 360px;
    }
  }

  #screen-solution{
    width: 115%;
    left: -141px;
    background-size: 100%;
  }

  .partner{
    .big-p{
      margin-top: 20px;
    }
  }
  .partnerTechno, .partnerSolution{
    h2.maj{
      margin-top: 130px;
      padding-left: 0;
    }
  }
  .partnerTechno{
    .logoPartner{
      top: -185px;
    }
  }

  .club-header{
    h1{
      br{
        display: none;
      }
    }
  }

  .dl {
    .bloc {
      width: 250px;
      margin-left: -108px;
    }
    h2{
      padding-top: 15px;
    }
    .bigBtn {
      margin-bottom: 5px;
    }
  }

  /*.temp{
    width: 65%;
  }*/

  .titleRsBlog{
    display: none;
  }

}

@media (max-width: 390px) {

  .container{
    &.medium, &.small, &.small2{
      padding: 0 20px 0;
    }
  }

  .hamburger{
    right: 15px;
  }
  #logo{
    height: 27px;
    width: 31px;
    margin-top: 35px;
    margin-left: 15px;
    &:after{
      width: 94px;
      height: 25px;
      top: 35px;
      left: 60px;
    }
  }

  #containerVid{
    img{
      width: 92%;
    }
    .container{
      min-height: 440px;
      max-height: 440px;
      .touch &{
        min-height: 340px;
        max-height: 340px;
      }
    }
    p{
      font-size: 1.2em;
      line-height: 25px;
      padding-left: 15px;
    }
  }

  #mask{
    background-size: 133%;
  }

  #sliderVid{
    width: 360px;
    height: 360px;
    .slides{
      height: 360px;
    }
  }

  .solution, .page-template-solution-php{
    .big-h4{
      text-indent: 0;
    }
  }

  .encadre{
    .bloc-txt-encadre{
      padding: 5px 0 0;
      p.big-p{
        margin-top: 30px;
      }
      h3{
        text-indent: 60px;
        &.h3-cms{
          text-indent: 0;
          padding-left: 60px;
          padding-top: 0;
          line-height: 21px;
        }
      }
    }
    .bloc-icon-encadre {
      width: 50px;
      height: 50px;
      .icon-cross, .icon-plug{
        font-size: 55px;
      }
      .icon-cloud, .icon-star{
        font-size: 65px;
      }
    }
  }
  
  .presse, .page-template-presse-php{
    .containerRight{
      width: 100%;
    }
  }

  .presseLogo{
    height: 100%;
    background-size: auto 100%;
  }

  .club, .page-template-club-php{
    .extraSmall{
      padding-left: 0;
    }
  } 

  /*.temp{
    margin-left: 15px;
    width: 73%;
    form{
      input{
        width: 100%;
      }
    }
  }  */

}

@media (max-width: 360px){

  #blog-header{
    display: none;
  }

  footer{
    .col-mid{
      &.col-temp{
        float: none;
        padding-left: 0;
      }
    }
  }

  #sliderVid{
    width: 335px;
    height: 335px;
    .slides{
      height: 335px;
    }
  }

  #bloc-visu-solution{
    margin: -360px 0 0;
  }

  #screen-solution{
    width: 120%;
    left: -120px;
    background-size: 100%;
  }

  .fonctionnalites, .page-template-fonctionnalites-php{
    h1{
      padding-top: 50px;
    }
    .tab.tab2 {
      width: 85%;
    }
    .tab.tab1 {
      width: 75%;
      right: 22%;
      bottom: -30%;
    }
  }
  
}


@media (max-width: 335px) {

  .liens-contact{
    &.btn-contact{
        .icon-tel, .icon-mail{
          font-size: 0.9em;
        }
      } 
  }

  #sliderVid{
    width: 310px;
    height: 310px;
    .slides{
      height: 310px;
    }
  }

  .schema{
    margin-left: -20px;
  }

}

@media (max-width: 320px) {
  .container{
    &.medium, &.small, &.small2{
      padding: 0 15px 0;
    }
  }

  #contact .liens-contact .icon-mail {
    margin: 10px 0 0 57px;
  }

  #containerVid{
    p{
      font-size: 1.1em;
    }
  }

}